<a href="https://colab.research.google.com/github/chrispankow/datascience-interviews/blob/main/DS_ML_Coding_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Coding Exercise: Sudoku Solution Checking

Write a program to verify a Sudoku puzzle solution. A sudoku valid solution must satisfy all of the following rules:

 - Each of the digits 1-9 must occur exactly once in each row.
 - Each of the digits 1-9 must occur exactly once in each column.
 - Each of the digits 1-9 must occur exactly once in each of the 9 3x3 sub-boxes of the grid.

The solution should return `True` when the provided solution is valid and `False` when it is not.

In [2]:
solution1 = [
    [5, 3, 4, 6, 7, 8, 9, 1, 2],
    [6, 7, 2, 1, 9, 5, 3, 4, 8],
    [1, 9, 8, 3, 4, 2, 5, 6, 7],
    [8, 5, 9, 7, 6, 1, 4, 2, 3],
    [4, 2, 6, 8, 5, 3, 7, 9, 1],
    [7, 1, 3, 9, 2, 4, 8, 5, 6],
    [9, 6, 1, 5, 3, 7, 2, 8, 4],
    [2, 8, 7, 4, 1, 9, 6, 3, 5],
    [6, 4, 5, 2, 8, 6, 1, 7, 9]
]

solution2 = [
    [1, 2, 3, 4, 5, 7, 8, 6, 9],
    [2, 5, 4, 1, 9, 6, 2, 7, 3],
    [6, 7, 9, 2, 8, 3, 1, 4, 5],
    [7, 4, 5, 9, 3, 1, 6, 8, 2],
    [3, 1, 6, 8, 2, 4, 5, 9, 7],
    [9, 8, 2, 7, 6, 5, 4, 3, 1],
    [8, 9, 1, 4, 7, 2, 3, 5, 6],
    [4, 3, 7, 6, 5, 1, 9, 1, 8],
    [5, 6, 8, 3, 1, 9, 7, 2, 4]
]

# Coding Exercise: Logistic Regression

Develop a model which predicts `target_class` given the four features. Any method you'd like to use is permissible. Please also provide summary metrics to describe the performance of your model. You may use whatever libraries you deem appropriate.

_NOTE_: The solution here should be **functional**, but need not be **optimal**.

The supplied dataset has four features: `feature_1`, `feature_2`, `feature_3`, `feature_4` and a column with the target, called `target`. `feature_1` and `target_class` are categorical, and the remaining features are continuous and numeric.

You can upload this dataset to the notebook server by clicking on the folder icon on the left sidebar, the clicking the file with an up arrow (first icon in the top bar below "Files"). You may read it in any way you prefer, but an example is provided below.

# Coding Exercise: SQL and Data Retrieval

Load the following database table and insert the proper SQL to answer the following questions:


1.   Get the number of ad requests per website
2.   For each website, what is the average bid price per advertiser
3.   Find the website with the highest percentage of requests that had bids

In [24]:
import sqlite3

db = sqlite3.connect(":memory:")
with db:
  db.cursor().execute("""
  CREATE TABLE ad_requests (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    website_id  INT NOT NULL,
    advertiser_id INT NULL,
    bid           INT NULL
);
  """)

  db.cursor().execute("""
CREATE TABLE websites (
    id INT NOT NULL,
    name        VARCHAR(100),

    PRIMARY KEY (id)
);
  """)

  db.cursor().execute("""
CREATE TABLE advertisers (
    id INT NOT NULL,
    name        VARCHAR(100),

    PRIMARY KEY (id)
);
  """)

  db.cursor().execute("""
INSERT INTO `ad_requests` (`website_id`, `advertiser_id`, `bid`)
VALUES (1, 1, 200),
       (1, NULL, NULL),
       (1, 2, 100),
       (1, 2, 200),
       (1, NULL, NULL),
       (1, NULL, NULL),
       (1, 2, 300),
       (1, 2, 150),
       (1, NULL, NULL),
       (1, NULL, NULL),
       (2, NULL, NULL),
       (2, NULL, NULL),
       (2, NULL, NULL),
       (2, NULL, NULL),
       (2, 3, 500),
       (2, 3, 1000),
       (2, 1, 200),
       (2, NULL, NULL),
       (2, 2, 300),
       (3, 3, 50),
       (3, NULL, NULL),
       (3, NULL, NULL),
       (3, 1, 20),
       (3, 2, 30),
       (3, 3, 100),
       (3, NULL, NULL),
       (3, 1, 100);
  """)

  db.cursor().execute("""
INSERT INTO `websites` (`id`, `name`)
VALUES
  (1, 'New York Times'),
  (2, 'Fox News'),
  (3, 'Verizon Media');
  """)

  db.cursor().execute("""
INSERT INTO `advertisers` (`id`, `name`)
VALUES
  (1, 'Google'),
  (2, 'The Trade Desk'),
  (3, 'AOL Video');
  """)

In [23]:
with db:
  result = db.cursor().execute("""
  """).fetchall()